@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: #000c18;
	--color-background-light: #253444;
	--color-background-lighter: #576d85;
	--color-background-alt: #001020;
	--color-text: #f8f9fadc;
}

[data-theme='light'] {
	--color-background: #f8f9fadc;
	--color-background-light: #f8f9fadc;
	--color-background-alt: #f8f9fadc;
	--color-text: #000c18;
}

html {
	color: var(--color-text);
	background: var(--color-background);
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	font-size: 16px;
	letter-spacing: 0.15px;
	margin: 0;
	padding: 0;
}

.blog-listing {
	color: var(--color-text);
	font-size: 1.3rem;
	font-weight: 400;
	padding: 0.7rem 1rem;

	transition: all 0.06s ease-in-out;
	opacity: 0.9;
}

.blog-listing:hover {
	background-color: var(--color-background-alt);
	cursor: pointer;
	text-decoration: none;
	opacity: 1;
}

.content-wrapper {
	padding: 0rem 1rem;
}

.spacer {
	padding: 1rem;
}

.waving-hand {
	display: inline-block;
	font-size: 2rem; /* Adjust size as needed */
	animation: wave-animation 0.5s ease-out;
	transform-origin: bottom right;
}

/* Keyframes for the wave animation */
@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-10deg); /* Wave down */
	}
	50% {
		transform: rotate(10deg); /* Wave up */
	}
	75% {
		transform: rotate(-10deg); /* Wave down again */
	}
	100% {
		transform: rotate(0deg); /* Return to original position */
	}
}

.social-link {
	color: var(--color-text);
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 0;
	display: flex;
	gap: 0.4rem;
	align-items: center;
	opacity: 0.4;
	transition: all 0.1s ease-in-out;
}

.social-link:hover {
	opacity: 1;
}

p,
ul {
	margin-bottom: 0.5rem;
	line-height: 1.5;
}

ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul,
nav li,
nav li::before {
	list-style: none;
	margin: 0;
	padding: 0;
	content: '';
}

.sub-nav .left a {
	display: inline-block;
	padding: 0.43rem 0.6rem 0.3rem 0;
}

.sub-nav-btn {
	padding: 0.43rem 0 0.3rem 0.6rem;
}

.sub-nav-btn .btn-title:hover {
	cursor: default;
}

.sub-nav-btn:hover .sub-link svg {
	stroke: #faff96;
}

.experience-block {
	margin: 1rem 0 1.4rem;
}

.experience-block .company {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0.2rem;
}

.experience-block .title {
	font-size: 16px;
	opacity: 0.7;
	margin-bottom: 0.4rem;
}

.experience-block .description {
	font-size: 16px;
}

.about-section {
}

.about-section .section-heading {
	font-size: 24px;
	opacity: 0.5;
	font-weight: 300;
	margin-bottom: 0.7rem;
}

hr {
	border: 0;
	padding: 0 2rem;
	border-top: 1px solid #333;
	margin: 1rem 0;
}

.technology-list-item {
	margin: 0.5rem 0 0.8rem;
}
